{% if site.category_sidebar %}
<section>
<h1>Categories</h1>
<ul>
  <li><a href='/blog/categories/algorithm'>Algorithm (1)</a></li>
  <li><a href='/blog/categories/android'>Android (16)</a></li>
  <li><a href='/blog/categories/attack'>Attack (2)</a></li>
  <li><a href='/blog/categories/conference'>Conference (5)</a></li>
  <li><a href='/blog/categories/git'>Git (2)</a></li>
  <li><a href='/blog/categories/kvm'>Kvm (1)</a></li>
  <li><a href='/blog/categories/life'>Life (13)</a></li>
  <li><a href='/blog/categories/linux'>Linux (7)</a></li>
  <li><a href='/blog/categories/network'>Network (4)</a></li>
  <li><a href='/blog/categories/ocaml'>Ocaml (1)</a></li>
  <li><a href='/blog/categories/opennebula'>Opennebula (1)</a></li>
  <li><a href='/blog/categories/others'>Others (3)</a></li>
  <li><a href='/blog/categories/paper'>Paper (4)</a></li>
  <li><a href='/blog/categories/qemu'>Qemu (1)</a></li>
  <li><a href='/blog/categories/ruby'>Ruby (2)</a></li>
  <li><a href='/blog/categories/security'>Security (8)</a></li>
  <li><a href='/blog/categories/system'>System (7)</a></li>
  <li><a href='/blog/categories/tool'>Tool (4)</a></li>
</ul>
</section>
{% endif %}
