<section>
  <h1>Links</h1>
  <ul id="recent_posts">
      <li class="post">
        <a href="http://www.freebuf.com/">Freebuf</a>
      </li>
      <li class="post">
        <a href="http://www.claudxiao.net/">i, Claud</a>
      </li>
      <li class="post">
        <a href="http://insight-labs.org/">Insight-labs</a>
      </li>
      <li class="post">
        <a href="http://insight-labs.org/wiki/index.php">Insight-labs Wiki</a>
      </li>
      <li class="post">
        <a href="http://hanjc.me">HAN</a>
      </li>
      <li class="post">
        <a href="http://www.liwenhaosuper.com/">Li Wenhao' weblog</a>
      </li>
      <li class="post">
        <a href="http://wiki.secmobi.com/home">SecMobi</a>
      </li>
      <li class="post">
        <a href="http://mytrix.me/">the 3rd. Place</a>
      </li>
      <li class="post">
        <a href="http://theuniverse.byethost32.com/">基巴斯坦</a>
      </li>
      <li class="post">
        <a href="http://ancienttime.blogbus.com/">你好旧时光</a>
      </li>
  </ul>
</section>
